%h1= t('.title')

= simple_form_for @ingredient do |f|
  = f.input :name, label: false
  = f.button :submit

- if @ingredients.empty?
  %p
    = t('.empty_state')
- else
  %ul
    - @ingredients.each do |ingredient| 
      %li
        = "#{ingredient.quantity} #{ingredient.unit} #{ingredient.name}"
        %br
        = t('.for')
        = ingredient.receipe.servings
        = t('.servings')
        %br
        = t('.from')
        = link_to ingredient.receipe.name, ingredient.receipe.url
